/* modules.css

NOTE: base16-colors come automatically from stylix
*/

/* common settings */
window#waybar {
    background: transparent;
}

tooltip {
    background: @base00;
    border-color: @base0A;
    border-radius: 9px;
    border-width: 2px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-cliphist,
#custom-gpuinfo,
#custom-launcher,
#custom-mode,
#custom-power,
#custom-spotify,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#idle_inhibitor,
#language,
#memory,
#mpris,
#network,
#pulseaudio,
#taskbar,
#tray,
#window,
#workspaces,
#custom-l,
#custom-r,
#custom-sl,
#custom-sr,
#custom-rl,
#custom-rr,
#custom-_,
#custom-__ {
    color: @base05;
    background: @base00;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

/* taskbar, workspaces */
#taskbar,
#workspaces {
    padding: 0px;
}
#taskbar button,
#workspaces button {
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    transition: all 0.3s ease;
}
#taskbar button.active,
#workspaces button.active {
    background: @base0A;
    color: @base01;
    padding-left: 9px;
    padding-right: 9px;
}
#taskbar button:hover,
#workspaces button:hover {
    background: @base05;
    color: @base01;
}
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    border-bottom: none;
} /* undo some stylix themeing */

/* modules for padding */
#custom-r {
    border-radius: 0px 18px 18px 0px;
    margin-right: 9px;
    padding-right: 3px;
}
#custom-l {
    border-radius: 18px 0px 0px 18px;
    margin-left: 9px;
    padding-left: 3px;
}
#custom-sr,
#custom-sl {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}
#custom-rr {
    border-radius: 0px 7px 7px 0px;
    margin-right: 9px;
    padding-right: 3px;
}
#custom-rl {
    border-radius: 7px 0px 0px 7px;
    margin-left: 9px;
    padding-left: 3px;
}
