.systeminfo {
    font-size: 1.625rem;
    graph {
        opacity: 0.5;
        //border-radius: 10rem;
        //min-height: 0.681rem;
        //min-width: 0.681rem;
    }
    circular-progress {
        background-color: $base02;
        border-radius: 10px;
        font-size: 60px;
    }
    //background-image: linear-gradient(
    //    to right,
    //    transparentize($base01, 1),
    //    transparentize($base01, 0.5)
    //);
}
.cpu {
    color: $base0D;

    graph {
        color: $base0D;
        //background-color: $base0D;
    }
}
.mem {
    color: $base0E;
    graph {
        color: $base0E;
    }
}
.disk {
    color: $base08;
}
.net {
    color: $base0A;

    graph {
        color: transparent;
    }
}
.bat {
    color: $base0B;
}
